@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&family=Roboto:wght@100;300;400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html {  
    height: 100%;
    font-size: 62.5%;
}
body{
    font-family:'Poppins', sans-serif;
    height: 100%;
    display:flex;
    flex-direction: column;
    font-size: 1.6rem;
    color: #989898;
}
.nav-contato{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 10rem;
    box-shadow: 0rem 0rem 0.4rem rgba(247, 168, 184, 0.877);
}

.nav-contato h1{
    color:#55CDFC;
    font-size: 3rem;
}

.nav-contato span{
    color:#F7A8B8;
}

.nav-contato ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-contato li{
    padding-right: 1.5rem;
    list-style: none;
    font-weight: bold;
}
.nav-contato li a{
    color: #989898;
    transition: all 0.3s ease;
}

.nav-contato li a:hover{
    font-weight: lighter;
}

.user{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.user p{
    margin-right: 1rem;
}
.user img{
    border: 0.1rem solid #989898;
    border-radius:50%;
    max-width:3.5rem;
}
.conteudo{
    flex: 1 0 auto;
}
.h2Main{
    margin-top: 2rem;
    font-size: 3.5rem;
    color: #55CDFC;
    text-align: center;
}

.sectionContato{
    display:flex;
    font-size: 1.3rem;
    justify-content: center;
    font-weight: bolder;
    height: 80%;
}

.grupo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.campo{
    margin: 2rem;
}
.btn-contato{
    text-align: center;
    margin: 1.5rem;
    width: 28vw;
}

.botao{
    border: 0.2rem solid #F7A8B8;
    background-color: #F7A8B8;
    color: white;
    padding: 1.5rem;
    width: 24rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.botao:hover{
    transform: scale(1.03);
}

.input{
    border: 2px solid #55CDFC;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}
footer{
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    background-color: #55CDFC;
}
.h3Footer{
    text-align: center;
    color: white;
    padding-top: 1.2rem;
    font-size: 3rem;
}

.pFooter{
    margin-bottom: 1rem;
    text-align: center;
    font-size:1rem;
    color: white;
}