@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&family=Roboto:wght@100;300;400;700&display=swap%27");

*{
    margin: 0px;
    padding: 0px;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
}

html {
    height: 100%;
    font-size: 62.5%;
}
body{
    height: 100%;
    font-size: 1.6rem;
    color: #989898;
    display: flex;
    flex-direction: column;
}
.nav-contato{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 10rem;
    box-shadow: 0rem 0rem 0.4rem rgba(247, 168, 184, 0.877);
}

.nav-contato h1{
    color:#55CDFC;
    font-size: 3rem;
}

.nav-contato span{
    color:#F7A8B8;
}

.nav-contato ul{
    display: flex;
    justify-content: space-around;
}

.nav-contato li{
    padding-right: 1.5rem;
    list-style: none;
    font-weight: bold;
}
.nav-contato li a{
    color: #989898;
    transition: all 0.3s ease;
}

.nav-contato li a:hover{
    font-weight: lighter;
}

.user{
    display: flex;
    align-items: center;
}
.user p{
    margin-right: 1rem;
}
.user img{
    border: 0.1rem solid #989898;
    border-radius:50%;
    max-width:3.5rem;
}

.conteudo{
    flex: 1 0 auto;
}

.vagas{
    color: #55CDFC;
    text-align: center;
    margin: 2.3rem;
    font-size: 3.0rem;
}

.caixa{
    border: 0.3rem solid #55CDFC;
    margin: 1.0rem 50.0rem;
    padding: 1.5rem;
}

.tituloEmprego{
    color: #55CDFC;
    margin: 1.0rem;
}

.tituloEmpresa{
    margin: 1.0rem;
}

.sobreVaga{
    margin: 1.0rem;
    font-size: 1.6rem;
}

.botaoEmpregos{
    border: 2px solid #F7A8B8;
    background-color: #F5A9B8;
    color: white;
    padding: 0.5rem 1.0rem;
    border-radius: 0.4rem;
    cursor: pointer; 
    margin: 0.8rem;
}

.botaoEmpregos:hover{
    transform: scale(1.03);
}



footer{
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    background-color: #55CDFC;
}
.h3Footer{
    text-align: center;
    color: white;
    padding-top: 1.2rem;
    font-size: 3rem;
}

.pFooter{
    margin-bottom: 1rem;
    text-align: center;
    font-size:1rem;
    color: white;
}